body {
  background-color: cadetblue;
}
label {
  padding: 36px 24px;
  font-size: 24px;
  font-weight: 500;
}

alert {
  color: red;
}
h1 {
  display: flex;
  font-weight: bold;
}
img {
  width: 470px;
}
